<!-- index.html for SSNG-->
<!-- 2019.04.11 -->

<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<title>Leaflet-Link Smart Meter Controller</title>
<link rel="icon" type="image/x-icon" href="/images/favico.png">
<style>
body {
  padding-top: 1rem;
}
.card-deck {
	margin-bottom: 20px;
}
.card-header {
	padding: 0.1em 1em;
}
#packet-monitor-body {
	margin: 0;
	padding: 0;
}
#packet-list-wrapper {
	height: 30em;
	overflow-y: scroll;
}
#packet-list li {
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
	font-size: 90%;
	padding: 0.2em 1em;
	cursor: pointer;
}
#packet-list li span {
	display: inline-block;
}
#packet-list li span.col1 {
	width: 5em;
}
#packet-list li span.col2 {
	width: 2em;
}
#packet-list li span.col3 {
	width: 9em;
}
#packet-detail-wrapper {
	padding: 0.5em 1em;
	border-top: 1px solid #cccccc;
}
.burger {
    cursor: pointer;
}
</style>
</head>

<body>
<header>
</header>
<main>
<div class="container" id="app">
    <div class="card mb-3">
	<!-- ECHONET Lite Packets -->
	<!-- ECHONET Lite Packets header-->
        <div class="card-header py-1">
            <div class="row">
                <div class="col-auto"><img src="/images/logo-black.png" width="150"></div>
                <!-- <div class="col-auto h5 mt-2">ECHONET Lite Packets</div>
                <div class="col-auto mt-2"> {{ipServer}}</div> -->
                <div class="col"></div>
                <div class="col-auto">
                    <div class="input-group">
                        <div class="onput-group-prepend">
                            <span class="input-group-text">IP</span>
                        </div>
                        <input type="text" class="form-control" v-model="ipData" v-bind:style="ipDataStyle">
                    </div>
                </div>
                <div class="col-auto mt-1 pl-0">
                    <button type="button" class="btn btn-secondary btn-sm" v-on:click="buttonClickSend" >SEND</button>
                    <button type="button" class="btn btn-secondary btn-sm" v-on:click="buttonClickSearch">SEARCH</button>
                </div>
                <div class="col-auto mt-2 burger">
                    <span class="mt-2" v-on:click="seen = !seen"><i class="material-icons">dehaze</i></span>
                </div>
            </div>
        </div>
	<!-- ECHONET Lite Packets body-->
        <div class="card-body pt-2 pb-2" v-if="seen">
            <form>
            <div class="form-check form-check-inline mb-2">
                <input type="radio" class="form-check-input" id="rb_el" v-model="rbInputData" value="el">
                <label for="rb_el" class="form-check-label">ECHONET Lite Data</label>
            </div>
            <div class="form-row align-items-center">
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                          <div class="input-group-prepend">
                              <div class="input-group-text">DEOJ</div>
                          </div>
                          <select class="form-control form-control-sm" id="send-packet-deoj-class-code" v-bind:style="deojDataStyle" v-model="el.deojData">
                              <option value="">
                                  Select a class
                              </option>
                              <option v-for="d in el.deojDataList" v-bind:value="d.value">
                                  {{ d.value }} : {{d.description}}
                              </option>
                          </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">ESV</div>
                        </div>
                        <!-- <input type="text" class="form-control" v-model="el.esvData" v-bind:style="esvDataStyle"> -->

                        <select class="form-control form-control-sm" id="send-packet-esv" v-model="el.esvData">
                            <option value="">
                                Select an ESV
                            </option>
                            <optgroup label="Service Codes for Request">
                                <option value="0x60">
                                    0x60: SetI |
                                    Write request (no response required)
                                </option>
                                <option value="0x61">
                                    0x61: SetC |
                                    write request (response required)
                                </option>
                                <option value="0x62">
                                    0x62: Get |
                                    Read request
                                </option>
                                <option value="0x63">
                                    0x63: INF_REQ |
                                    Notification request
                                </option>
                                <option value="6E">
                                    0x6E: SetGet |
                                    Write &amp; read request
                                </option>
                            </optgroup>
                            <optgroup label="ESV Codes for Response/Notification">
                                <option value="0x71">
                                    0x71: Set_Res |
                                    Write response
                                </option>
                                <option value="0x72">
                                    0x72: Get_Res |
                                    Read response
                                </option>
                                <option value="0x73">
                                    0x73: INF |
                                    Notification
                                </option>
                                <option value="0x74">
                                    0x74: INFC |
                                    Notification (response required)
                                </option>
                                <option value="0x7A">
                                    0x7A: INFC_Res |
                                    Notification response
                                </option>
                                <option value="0x7E">
                                    0x7E: SetGet_Res |
                                    Write &amp; read response
                                </option>
                            </optgroup>
                            <optgroup label="ESV Codes for &quot;Response Not Possible&quot">
                                <option value="0x50">
                                    0x50: SetI_SNA |
                                    write request &quot;response not possible&quot;
                                </option>
                                <option value="0x51">
                                    0x51: SetC_SNA |
                                    Write request &quot;response not possible&quot;
                                </option>
                                <option value="0x52">
                                    0x52: Get_SNA |
                                    Read &quot;response not possible&quot;
                                </option>
                                <option value="0x53">
                                    0x53: INF_SNA |
                                    Notification &quot;response not possible&quot;
                                </option>
                                <option value="0x5E">
                                    0x5E: SetGet_SNA |
                                    Write &amp; read &quot;response not possible&quot;
                                </option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">EPC</div>
                        </div>
                        <input type="text" class="form-control" v-model="el.epcData" v-bind:style="epcDataStyle">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">EDT</div>
                        </div>
                        <input type="text" class="form-control" v-model="el.edtData" v-bind:style="edtDataStyle">
                    </div>
                </div>
            </div>
            <!-- <div class="form-check form-check-inline my-2">
                <input type="radio" class="form-check-input" id="rb_free" v-model="rbInputData" value="free">
                <label for="rb_free" class="form-check-label">Free Data</label>
            </div>
            <div>
                <input type="text" class="form-control" v-model="freeData" v-bind:style="freeDataStyle">
            </div> -->
            </form>
        </div>
    </div>


    <!-- Shortcut Buttons for Smart Meter -->
    <div class="card mb-3">
        <div class="card-header py-1">
            <div class="row">
                <div class="col-auto h5 mt-2">Shortcut Buttons for Smart Meter</div>
                <div class="col"></div>
                <div class="col-auto">
                </div>
            </div>
        </div>

        <div class="card-body pt-2 pb-2">
            <form>
                <div class="form-row align-items-center">
                    <div class="col-4">
                        <div class="input-group input-group-sm mb-2">
                              <div class="w-100">
                                  <button type="button" class="btn btn-primary btn-block" v-on:click="GetMeasuredIEE" title="Measured Instantaneous electric energy">Get Measured Instantaneous Energy</button>
                              </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group input-group-sm mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text bg-secondary text-light">DEOJ</div>
                              </div>
                              <input type="text" class="form-control"  value="0x028801" readonly>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group input-group-sm mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text bg-secondary text-light">ESV</div>
                              </div>
                              <input type="text" class="form-control"  value="0x62" readonly>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group input-group-sm mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text bg-secondary text-light">EPC</div>
                              </div>
                              <input type="text" class="form-control"  value="0xe7" readonly>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group input-group-sm mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text bg-secondary text-light">EDT</div>
                              </div>
                              <input type="text" class="form-control"  value="0x00" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-4">
                        <div class="input-group input-group-sm mb-2">
                              <div class="w-100">
                                  <button type="button" class="btn btn-success btn-block" v-on:click="GetMeasuredCAofEE" title="Measured cumulative amount of electric energy">Get Measured Amount of Energy</button>
                              </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group input-group-sm mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text bg-secondary text-light">DEOJ</div>
                              </div>
                              <input type="text" class="form-control"  value="0x028801" readonly>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group input-group-sm mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text bg-secondary text-light">ESV</div>
                              </div>
                              <input type="text" class="form-control"  value="0x62" readonly>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group input-group-sm mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text bg-secondary text-light">EPC</div>
                              </div>
                              <input type="text" class="form-control"  value="0xe0" readonly>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group input-group-sm mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text bg-secondary text-light">EDT</div>
                              </div>
                              <input type="text" class="form-control"  value="0x00" readonly>
                        </div>
                    </div>
                </div>

                <div class="form-row align-items-center">
                    <div class="col-4">
                        <div class="input-group input-group-sm mb-2">
                              <div class="w-100">
                                  <button type="button" class="btn btn-warning btn-block" v-on:click="GetMeasuredICurrent" title="Measured Instantaneous Current">Get Measured Instantaneous Current</button>
                              </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group input-group-sm mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text bg-secondary text-light">DEOJ</div>
                              </div>
                              <input type="text" class="form-control"  value="0x028801" readonly>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group input-group-sm mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text bg-secondary text-light">ESV</div>
                              </div>
                              <input type="text" class="form-control"  value="0x62" readonly>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group input-group-sm mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text bg-secondary text-light">EPC</div>
                              </div>
                              <input type="text" class="form-control"  value="0xe8" readonly>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group input-group-sm mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text bg-secondary text-light">EDT</div>
                              </div>
                              <input type="text" class="form-control"  value="0x00" readonly>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!-- END Shortcut Buttons for Smart Meter -->


	<!-- パケットモニター -->
	<!-- パケットモニター header-->
    <div class="card">
        <div class="card-header py-1">
            <div class="row">
                <div class="col-auto h5 mt-2">Packets Monitor</div>
                <div class="col"></div>

                <div class="col-auto pl-0">
                    <div class="input-group border ml-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Order</span>
                        </div>
                        <div class="form-check form-check-inline pl-2">
                            <input type="radio" class="form-check-input" id="normalOrder" v-model="rbOrder" value="normalOrder" v-on:change="updateRbOrder">
                            <label for="normalOrder" class="form-check-label">Normal</label>
                        </div>
                        <div class="form-check form-check-inline pl-0 mr-0">
                            <input type="radio" class="form-check-input" id="reverseOrder" v-model="rbOrder" value="reverseOrder" v-on:change="updateRbOrder">
                            <label for="reverseOrder" class="form-check-label ">Reverse</label>
                        </div>
                    </div>
                </div>

                <div class="col-auto pl-0">
                    <div class="input-group border">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Filter</div>
                        </div>
                        <div class="form-check form-check-inline pl-2">
                            <input type="checkbox" class="form-check-input" id="showGet" value="showGet" v-model="filters" v-on:change="updateFilters">
                            <label class="form-check-label" for="showGet">GET</label>
                        </div>
                        <div class="form-check form-check-inline pl-0">
                            <input type="checkbox" class="form-check-input" id="showInf" value="showInf" v-model="filters" v-on:change="updateFilters">
                            <label class="form-check-label" for="showInf">INF</label>
                        </div>
                        <div class="form-check form-check-inline pl-0">
                            <input type="checkbox" class="form-check-input" id="showGetres" value="showGetres" v-model="filters" v-on:change="updateFilters">
                            <label class="form-check-label" for="showGetres">GET_RES</label>
                        </div>
                        <div class="form-check form-check-inline pl-0 mr-1">
                            <input type="checkbox" class="form-check-input" id="showSNA" value="showSNA" v-model="filters" v-on:change="updateFilters">
                            <label class="form-check-label" for="showSNA">SNA</label>
                        </div>
                    </div>
                </div>

                <div class="col-auto mt-1 pl-0">
                    <button type="button" class="btn btn-secondary btn-sm" v-on:click="clearLog">CLEAR</button>
                    <button type="button" class="btn btn-secondary btn-sm" v-on:click="saveLog">SAVE</button>
                </div>
            </div>
        </div>

	<!-- パケットモニター body -->
        <div class="card-body" id="packet-monitor-body">
            <div id="packet-list-wrapper">
                <ul class="list-group"  id="packet-list" v-on:keyup.stop v-on:keydown.stop>
                    <li class="list-group-item" id="packet-monitor-header" tabindex="0">
                        <span class="col1">HH MM SS</span>
                        <span class="col2">T/R</span>
                        <span class="col3">IP</span>
                        <span class="col4">DATA</span>
                    </li>
                    <li v-for="packet in packet_list" class="list-group-item" v-bind:id="packet.id" tabindex="0" v-on:focus="showPacketDetail" v-on:keydown="upDownList" >
                        <span class="col1">{{ packet.timeStamp }}</span>
                        <span class="col2">{{ packet.direction }}</span>
                        <span class="col3">{{ packet.address }}</span>
                        <span class="col4">{{ packet.hex }} ({{ packet.reply }})</span>
                    </li>
                </ul>
            </div>
			<div id="packet-detail-wrapper">
				<packet-detail>{{packetDetail}}</packet-detail>
			</div>
        </div>

    </div>
</div>
</main>

<script src="/lib/jquery-3.3.1.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/vue.min.js"></script>
<script src="/lib/vue-router.min.js"></script>
<script src="/ssng.js"></script>
</body>
</html>